<%= content_tag :h1, @party.name, id: "party", data: { party: @party.name } %>
<%= content_tag :div, id: "map", data: { geo: party_geo } do %>
<% end %>
<ul>
<% @party.members.each do |member| %>
  <li>
    <%= link_to member.fullname, member %>
  </li>
<% end %>
</ul>
