<div class="member-bills">
  <h3>Bills sponsored</h3>
  <% if @member.bills.length == 0 %>
    <%= content_tag :p, "#{@member.fullname} has not sponsored any bills during Canada's 42d Parliament", class: "no-bill" %>
  <% else  %>
    <% sort_bills_by_date.each do |bill| %>
      <div class="member-bill">
        <%= content_tag :h4, link_to("#{bill.bill_number}: #{bill.title_long ? bill.title_long : bill.title_short}", bill) %>
        <%= content_tag :p, "Last event: #{bill.last_event} (#{bill.last_event_date.strftime("%b %d, %Y")})", class: "member-bill-last-event" %>
        <%= content_tag :p, bill.summary, class: "member-bill-summary" %>
      </div>
    <% end %>
  <% end %>
</div>
