<h1>Member#index</h1>
<ul>
  <% @members.each do |member| %>
  <li>
    <%= link_to "#{member.firstname} #{member.lastname}", "/member/#{member.id}" %> <%= link_to member.party.name, "/party/#{member.party_id}" %>
  </li>
  <% end %>
</ul>
