<footer id="footer">
  <p class="footer-content">
    This is a work in progress. See an error or a bug? Please let me know by emailing <a href="mailto:s.d.leitch@gmail.com">s.d.leitch@gmail.com</a> or opening an issue on <a href="https://github.com/sdleitch/parliament-tracker/issues">GitHub</a>.
  </p>
</footer>
