<header id="header">
  <ul class="header-list">
    <li class="header-list-item"><%= link_to("Home", root_url) %></li>
    <li class="header-list-item"><%= link_to("Find your MP", member_index_url) %></li>
  </ul>
</header>
